{% load static %}
<ul class="nav nav-pills mb-3" id="pills-transports" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="pills-bus-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-bus"
      type="button"
      role="tab"
      aria-controls="pills-bus"
      aria-selected="true"
    >
      <img
        src="{% static 'icons/transport/bus.png' %}"
        alt="bus"
        class="transp-icons"
      />
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-train-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-train"
      type="button"
      role="tab"
      aria-controls="pills-train"
      aria-selected="false"
    >
      <img
        src="{% static 'icons/transport/train.png' %}"
        alt="bus"
        class="transp-icons"
      />
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-taxi-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-taxi"
      type="button"
      role="tab"
      aria-controls="pills-taxi"
      aria-selected="false"
    >
      <img
        src="{% static 'icons/transport/taxi.png' %}"
        alt="bus"
        class="transp-icons"
      />
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-auto-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-auto"
      type="button"
      role="tab"
      aria-controls="pills-auto"
      aria-selected="false"
    >
      <img
        src="{% static 'icons/transport/auto.png' %}"
        alt="bus"
        class="transp-icons"
      />
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-bike-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-bike"
      type="button"
      role="tab"
      aria-controls="pills-bike"
      aria-selected="false"
    >
      <img
        src="{% static 'icons/transport/bike.png' %}"
        alt="bus"
        class="transp-icons"
      />
    </button>
  </li>
</ul>
<!-- Transport Tabs -->
<div class="tab-content" id="pills-transContent">
  <div
    class="tab-pane fade show active"
    id="pills-bus"
    role="tabpanel"
    aria-labelledby="pills-bus-tab"
  >
    Bus
  </div>
  <div
    class="tab-pane fade"
    id="pills-train"
    role="tabpanel"
    aria-labelledby="pills-train-tab"
  >
    Train
  </div>
  <div
    class="tab-pane fade"
    id="pills-taxi"
    role="tabpanel"
    aria-labelledby="pills-taxi-tab"
  >
    Taxi
  </div>
  <div
    class="tab-pane fade"
    id="pills-auto"
    role="tabpanel"
    aria-labelledby="pills-auto-tab"
  >
    Auto
  </div>
  <div
    class="tab-pane fade"
    id="pills-bike"
    role="tabpanel"
    aria-labelledby="pills-bike-tab"
  >
    Bike
  </div>
</div>
