{% extends 'main.html' %} {% load static %} {% block styles %}

<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/userprofile.css' %}" />
{% endblock %} {% load crispy_forms_tags %} {% block content %}

<div class="container" style="margin-top: 100px; margin-bottom: 15px">
    {% include 'base/alertMessages/messages.html' %}
    <div class="container rounded">
        <div class="row">
            <div class="col card py-3 profile-card">
                <div class="my-2 text-center">
                    <h2>Password Reset Successful</h2>
                </div>
                <div>
                    <p class="text-center">Your password has been reset Successfully. Please Login now </p>
                </div>
                <div class="my-2 text-center">
                  <a
                    class="btn btn-primary profile-button"
                    style="float: center"
                    type="button"
                    href="{% url 'login' %}"
                  >
                    Login
                  </a>
              </div>
            </div>
        </div>
    </div>
    <div class="my-5"></div>
</div>
{% include 'base/alertMessages/msgTimeOut.html' %} {% endblock %}