{% extends 'main.html' %} {% load static %} {% block styles %}

<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/userprofile.css' %}" />
{% endblock %} {% load crispy_forms_tags %} {% block content %}

<div class="container" style="margin-top: 100px; margin-bottom: 15px">
    {% include 'base/alertMessages/messages.html' %}
    <div class="container rounded">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col card py-3 profile-card">
                    <div class="my-2 text-center">
                        <h2>Reset Password</h2>
                    </div>
                    {{ form | crispy  }}
                
                    <div class="text-center my-3" >
                        <button class="btn btn-primary profile-button" style="float: right" type="submit">
                            Reset
                        </button>
                        <a class="btn btn-primary profile-button" style="float: left" type="button"
                            href="{% url 'login' %}">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="my-5"></div>
</div>
{% include 'base/alertMessages/msgTimeOut.html' %} {% endblock %}