{% load static %} {% autoescape off %} {% block content %}

<div>
    <img  src="{% static 'images/user/default.jpg'%}" />
</div>
<h2>
    Hello!! {{user.first_name}}
</h2>

<p>
    You're receiving this E-mail because you requested a password reset for your user account at {{ site_name }}.
</p>

<h4>
    Please Click on the reset link to reset your password:

    {% block reset_link %}
    <a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"> Reset Link</a>
    {% endblock %}
</h4>

<p>
    The above reset link is valid only for 15 minutes.
</p>
<p>
    Your username, in case you've forgotten: {{ user.username }}
</p>

<h2 style="color:red">
    Please do not share this email!!
</h2>

<p>
    If you have not requested for a password reset, feel free to delete this email...
</p>
<h3>
    Thanks for using our site!!
</h3>
<h4>
    The {{ site_name }} team.
</h4>
{% endblock %}
{% endautoescape %}