/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  background: f1fbff;
}

.section-padding{
  padding: 100px 0;
}

.lead {
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  margin: 0;
  padding: 0;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class 
.carousel {
  margin-bottom: 4rem;
}*/
/* Since positioning the image, we need to help out the caption */


/* Declare heights because of positioning of img element */
.carousel-item {
  margin-top: 50px;
  height: 95vh;
  min-height: 300px;
}
.carousel-item > img {
  object-fit: cover;
}
.carousel-caption {
  bottom: 350px;
  z-index: 2;
}
.carousel-caption h5{
  font-size: 65px;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: center;
}

.carousel-caption p{
  width: 60%;
  margin: auto;
  font-size: 18px;
  align-items: center;
}
.carousel-inner::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1;
  align-items: center;
}
.card {
box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.tourist .card-body h3{
font-size: 25px;
}
.tourist .card-body p{
font-size: 15px;
}
.alert-message {
width: 90%;
margin: 0 auto;
position: absolute;
align-items: center;
margin-top: 10px;
top: 0;
left:5%;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

/* Responsive CSS*/
@media (min-width: 768px) and (max-width: 991px) {
.carousel-caption {
      align-items: center;
}
.carousel-caption p {
      align-items: center;
}
.card {
  margin-bottom: 30px;
}
.img-area img {
  width: 100%;
}
}
@media (min-width: 576px) and  (max-width: 767px) {
.carousel-item img {
  height: 400px;
  width: 100%;
}
.carousel-caption {
  align-items: center;
      bottom: 44%;
}
.carousel-caption h5 {
  font-size: 45px;
}
.carousel-caption a {
  padding: 10px 15px;
  font-size: 15px;
}
.carousel-caption p {
  width: 100%;
  line-height: 1.6;
  font-size: 12px;
}
.card {
  margin-bottom: 30px;
}
.featurette-heading {
  font-size: 50px;
}
}

@media (max-width: 575px) {
.carousel-item img {
  width: 100%;
}
.carousel-caption {
  align-items: center;
      bottom: 44%;
}
.carousel-caption h5 {
  font-size: 29px;
      width: 100%;
}
.carousel-caption a {
  padding: 10px 15px;
  font-size: 15px;
}
.carousel-caption p {
  width: 100%;
  line-height: 1.6;
  font-size: 12px;
}
.card {
  margin-bottom: 30px;
}
.featurette-heading {
  font-size: 35px;
}
}
/* Footer CSS */

.footer {
background-color: #1e1e1e;
}
.footer .Follow {
margin-bottom: 27px;
}
.footer .Follow h3 {
color: #fff;
font-size: 25px;
line-height: 30px;
font-weight: 600;
text-transform: uppercase;
border-width: 1px;
display: inline-block;
padding-bottom: 2px;
padding-bottom: 27px;
}
.footer span {
font-size: 17px;
display: block;
color: #fff;
}
ul.link li a {
color: #fff;
font-size: 17px;
}
ul.link li a:hover {
color: #878686;
}
.footer .Newsletter {
padding: 13px 26px;
padding-top: 10px;
padding-right: 26px;
padding-bottom: 10px;
padding-left: 15px;
border: #fff solid 1px;
width: 100%;
margin-bottom: 15px;
}
.footer .Subscribe {
padding: 10px 30px;
border: #0e0c0c solid 1px;
background: #0e0c0c;
color: #fff;
float: right;
}
.footer .Subscribe:hover {
color: #fff;
background-color: #15cfe5;
}
.pdn-top-30 {
padding-top: 35px;
}
.copyright {
padding: 10px 0px 30px 0;
}
.copyright p {
color: #fff;
font-size: 16px;
text-align: center;
max-width: 594px;
text-align: center;
margin: 0 auto;
width: 100%;
padding-top: 10px;
border-top: #807d7d solid 1px;
}
.copyright a {
color: #fff;
}
.copyright a:hover {
color: #15cfe5;
}

.cover-container {
  max-width: 42em;
}

/* Newsletter */
.tm-section-2 {
	background: #ee5057;
	padding-top: 50px;
	position: relative;
}

.tm-section-title {
	color: white;
	font-size: 3rem;
}

.tm-section-subtitle {
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 25px;
}

.tm-color-white { color: white; }

.tm-btn-white-bordered {
	display: inline-block;
	padding: 10px 25px;
	border: 2px solid white;
	background: transparent;
	text-transform: uppercase;
  margin-bottom: 10px;
}

.tm-btn-white-bordered:hover,
.tm-btn-white-bordered:focus {
	color: #ee5057;
	background: white;	
}

/* New features*/
.tm-position-relative { position: relative; }
.tm-flex-align-center { align-items: center; }
.tm-fa-6x { font-size: 6em; }
.tm-margin-b-0 { margin-bottom: 0; }
.tm-margin-b-20 { margin-bottom: 20px; }
.tm-p-4 { padding: 2rem!important; }
.tm-color-white { color: white; }
.tm-color-primary {	color: #ee5057; }
.tm-bg-primary { background: #ee5057; }
.tm-bg-gray { background: #F4F4F4; }
.tm-bg-white { background: white; }
.tm-bg-dark-blue { background: #1f3646; }

.tm-bg-white-shadow {
	-webkit-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
}

.tm-section-pad { padding: 30px 50px; }
.tm-section-pad-2 { padding: 30px 40px; }
.tm-article-pad { padding: 28px; }
.tm-sidebar-pad { padding: 15px 20px; }
.tm-sidebar-pad-2 { padding: 21px 20px; }
.tm-pad { padding: 20px; }

a.tm-color-primary:hover,
a.tm-color-primary:active {
	color: #d53239;
}

.tm-font-light { font-weight: 300; }
.tm-font-normal { font-weight: 400; }
.tm-font-semibold { font-weight: 600; }

p { 
	color: #898989; 
	line-height: 1.9;
}

.tm-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 119px;
    background: white;
}


.tm-top-bar.active .navbar-expand-lg .navbar-nav .nav-link { padding: 30px 35px; }
.tm-top-bar-bg { height: 119px; }
.tm-section { min-height: 515px; }

.tm-section-pad {
	padding-top: 80px;
	padding-bottom: 80px;
}

#tm-section-1 {	
	background-image: url('../img/bg-img-1.jpg');	
	height: 515px;
}

#tm-section-5 { background-image: url('../img/bg-img-2.jpg'); }

#tm-section-6 {
	background-image: url('../img/bg-img-3.jpg');
	background-position: top center;
	padding-top: 120px;
	padding-bottom: 60px;
}

.tm-bg-img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center
}

.qs-datepicker {
	font-family:  'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 0.8rem;
}




.btn-primary {
	background-color: #ee5057;
	border-color: #ee5057;
	border-radius: 0;
	cursor: pointer;
	font-size: 0.7rem;
	font-weight: 600;
	padding: 13px 30px;
	text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: #d53239;
	border-color: #d53239;
}

.tm-search-form .tm-form-element { padding: 0 5px; }
.tm-form-element { position: relative; }
.tm-form-element:last-child { margin-right: 0; }

.tm-form-element-icon {
	color: #ee5057;
	position: absolute;
	top: 10px;
	left: 15px;
}

.tm-form-element-icon-small {
	top: 16px;
	left: 18px;
}

select.tm-select.form-control:not([size]):not([multiple]) { height: 100%; }




.tm-select {
    border-radius: 0;
    color: #858789;
}

.tm-search-form .form-control {
	font-size: 0.8rem;	
	padding: 0.75rem 0.75rem 0.75rem 45px;
}

.tm-search-form .tm-form-element { width: 33.3333%; }
.tm-search-form .tm-form-element-2 { width: 25%; }
.tm-search-form-row { width: 900px; }
.tm-btn-search { width: 100%; }

/* https://css-tricks.com/creating-non-rectangular-headers/ */
.tm-section-down-arrow {
  position: absolute;
  top: -1px;
  width: 100%;
  height: 100px;
}

.tm-pt-5 { padding-top: 150px; }
.tm-pb-4 { padding-bottom: 100px; }

.tm-section-2 {
	background: #ee5057;
	padding-top: 50px;
	position: relative;
}

.tm-section-title {
	color: white;
	font-size: 3rem;
}

.tm-section-title-2 {
	font-size: 3.2rem;
    font-weight: 600;
}

.tm-section-subtitle {
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 25px;
}

.tm-section-subtitle-2 { font-size: 1.8rem; }

.tm-btn-white-bordered {
	display: inline-block;
	padding: 10px 25px;
	border: 2px solid white;
	background: transparent;
	text-transform: uppercase;
}

.tm-btn-white-bordered:hover,
.tm-btn-white-bordered:focus {
	color: #ee5057;
	background: white;	
}

.slick-dots { bottom: -35px; }

.tm-article {
	padding: 40px;
	transition: all 0.3s ease;
}

.tm-article:hover {
	-webkit-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	transform: scale(1.1);
}

.tm-article-title-1 {
	font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.tm-article-title-2 { 
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 1px;
}

.tm-article-title-3 { font-size: 1.1rem; }

.tm-btn-primary {
	display: block;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75rem;
}

.tm-sidebar-title {
	font-size: 1.3rem;
	margin-bottom: 5px;
}

.tm-sidebar-item-title {
	font-size: 1.2rem;
	letter-spacing: 1px;
	margin-bottom: 0;	
}

@media screen and (max-width: 991px) {
	.tm-top-bar.active, .tm-top-bar, .tm-top-bar-bg { height: 65px; }
	.tm-top-bar.active .navbar-expand-lg .navbar-nav .nav-link,
	.tm-top-bar .navbar-expand-lg .navbar-nav .nav-link {
	    padding: 12px 15px;
	}
	#mainNav {
		width: 180px;
	    position: absolute;
	    top: 60px;
	    right: 15px;

		-webkit-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
		-moz-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
		box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	}

	.tm-search-form .tm-form-element { 
		width: 33%; 
		max-width: 215px;
	}

	.tm-search-form-row { width: 98%; max-width: 900px; }
	.tm-recommended-container { margin-top: 30px; }

	video {
		top: 25%;
		left: 0;
	    min-width: 50%;
	    min-height: 50%;
	    width: auto;
	    height: auto;	 
	}
}

@media screen and (max-width: 767px) {
	.tm-search-form .tm-form-element {
		width: 50%;
		max-width: 235px;
	}

	#tm-section-1 {
		padding-left: 15px;
		padding-right: 15px;
	}

	.tm-media-container,
	.tm-media-title-container {
	    max-width: 320px;
	    margin-right: auto;
	}

	.tm-media-title-container {
		margin-left: auto;
		margin-bottom: 20px;
	}

	.tm-media-1 {
		flex-direction: column;
		max-width: 280px;
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
	}

	.tm-media-body-1 {
		padding-left: 0;
		margin-left: 0;
		margin-top: 20px;
	}

	.tm-bg-video { padding-top: 255px; }
	.overlay { height: 255px; }
}

@media screen and (max-width: 767px) and (min-width: 524px) {
	.tm-search-form .tm-form-element-100 { 
		width: 100%; 
		max-width: none;
	}

	.tm-search-form .tm-form-element-50 { width: 50%; }
}

@media screen and (max-width: 524px) {
	.tm-section-pad-2 { padding: 20px 25px; }

	.tm-search-form .tm-form-element {
		width: 100%;
		max-width: 100%;
	}

	.tm-fx-col-xs { flex-direction: column; }
	.tm-section-pad { padding: 25px 15px; }
	#tm-section-1 { height: 600px; }
}

/* IE Fixes */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     .ie-h-align-center-fix {
     	margin-left: 0;
     	margin-right: 0;
     }

     .ie-10-ml-auto { float: right; }
     .tm-media-body, .tm-media-body > * { width: 100%; }
     .tm-media-body-1, .tm-media-body-1 > * { width: 100%; }
     .tm-media-1 > * { flex: 1 1 auto; }
}

@media all and (max-width: 1199px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ie-container-width-fix { width: 960px; }
}

@media all and (max-width: 600px) {
	.ie-container-width-fix-2 { width: 100%; }
}

@media all and (max-width: 560px)  and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ie-container-width-fix {
		max-width: 530px;
		width: 100%;
	}	
}

.first-text{
	margin-bottom: 6px;
    font-size: .875rem;
    font-family:sans-serif;
    font-weight: 600;
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
    color: #cc3301;
    line-height: 1.25;
    text-transform: uppercase;
}

.second-text{
	color: #535353;
	font-family:sans-serif;
	margin-bottom: 15px;
    font-size: 3.125rem;
    text-transform: uppercase;
    line-height: .84;
	text-align: center;
	font-weight: 600;
	margin-top: 40px;
}

.border {
    border: dotted #9be2e2 10px;
    border-bottom: none;
    width: 10%;
    margin: 100px auto 100px auto;
}

.subtext{
	color: #cc3301;
	font-size: 1.2rem;
	font-weight: 600px;
}


.about-text{
    font-size: 1.3rem;
    line-height: 1.5;
	margin-bottom: 50px;
	color:#535353;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 3%;
	margin-top: -15px;
}

.hover01 {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
  }
  
  .hover01:hover {
	-webkit-transform: scale(1.01);
	transform: scale(1.01);
  }