.container-map {
  height: calc(100vh - 50px);
  margin-top: 50px;
  position: fixed;
}
#map {
  height: calc(100vh - 50px);
  position: relative;
}
#recommendation-panel {
  height: calc(100vh - 50px) !important;
}
#recommendation-panel .nav-link {
  font-size: 12px;
  border-radius: 20px;
}
.leaflet-routing-alt {
  margin-top: 10px !important;
  border-bottom: none !important;
}
.leaflet-routing-alt h2 {
  font-size: 20px !important;
}
.leaflet-routing-alt h3 {
  font-size: 16px !important;
}
.leaflet-routing-alt::-webkit-scrollbar {
  display: none;
}
/* Recommendations */
.recommendations {
  height: calc(100vh - 150px);
}
.rec-icons {
  width: 24px;
  background-color: #1e1e1e;
  border-radius: 50%;
  padding: 3px;
  margin-right: 5px;
}
#pills-reco {
  margin-bottom: 0 !important;
}
#pills-reco .nav-link {
  border: 1px solid #1e1e1e;
  border-radius: 20px;
  padding: 5px 8px;
  font-size: 12px;
}
#pills-reco .nav-item {
  margin: 5px 0;
}
#pills-recm .tab-content {
  overflow: scroll !important;
}
#pills-recm .tab-content::-webkit-scrollbar {
  display: none;
}
/* Directions */
#pills-directions {
  overflow: scroll !important;
}
#pills-directions::-webkit-scrollbar {
  display: none;
}

/* Transport */
#pills-transports,
#pills-reco {
  display: flex;
  justify-content: space-between;
}
#pills-transports .nav-link {
  border-radius: 50%;
  padding: 5px;
}
.transp-icons {
  width: 32px;
}
/* Map Buttons */
.map-buttons {
  width: 50px;
  position: fixed;
  top: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9999;
}
.map-buttons button {
  width: fit-content;
  background: none;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: 5px;
}
.map-buttons button:hover {
  transform: scale(1.1);
}
.map-buttons img {
  width: 25px;
}
.active-btn {
  background-color: #65b5ff !important;
}
.map-nav {
  min-width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 20px;
}
.map-nav .btn {
  width: fit-content;
  font-size: 12px;
  border-radius: 15px;
  background-color: #1e1e1e !important;
  margin: 0 5px;
  outline: none !important;
}
.map-nav .btn-wishlist img{
  width: 20px;
}
/* Recommendations Panel */
#recommendation-panel .panel-tabs {
  margin: 10px 0;
}
#recommendation-panel .nav-pills .nav-link {
  color: #000 !important;
}
#recommendation-panel .nav-pills .nav-link.active {
  color: #fff !important;
  background-color: #1e1e1e !important;
}
/* Recommendation Card */
.rec-card {
  max-width: 350px;
  width: 100%;
  background: #e0e0e0;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}
.rec-card .rec-header {
  display: flex;
  align-items: center;
}
.rec-header h4 {
  font-size: 18px;
  font-weight: bold;
}
.rec-card-body {
  display: flex;
  flex-direction: column;
}
.rec-card-body .rec-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.rec-card-body .rec-description {
  font-size: 14px;
  margin: 10px 0;
}
.rec-card-body .rec-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rec-card-body .rec-btn {
  font-size: 12px;
  border-radius: 25px;
  padding: 5px 15px;
  background-color: #1e1e1e;
  color: #fff;
  transition: all 0.5s ease;
}
.rec-card-body .rec-btn:hover {
  transform: scale(1.05);
}
.rec-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.rec-not-found img {
  width: 100px;
  height: 100px;
  margin: 20px;
}
/* Map popups */
.leaflet-popup-content {
  width: fit-content !important;
  padding: 0 !important;
}
.map-popup {
  width: 400px;
}
.map-popup-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map-popup-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
/* Alerts */
.map-alert{
  width: fit-content !important;
  margin: 0 auto;
  position: relative;
  top: 88%;
  text-align: center;
  z-index: 9999999;
}
/* Media query  */
@media (max-width: 1350px) {
  .btn-save-tour {
    left: 85%;
  }
}
@media (max-width: 900px) {
  .btn-save-tour {
    left: 80%;
  }
}
@media (max-width: 768px) {
  .btn-save-tour {
    left: 70%;
    top: 85%;
  }
  #recommendation-panel {
    display: none;
  }
}
