.container-map {
  height: calc(100vh - 50px);
  margin-top: 50px;
  position: fixed;
}
#map {
  height: calc(100vh - 50px);
  position: relative;
}
#recommendation-panel {
  background-color: #fff;
  height: calc(100vh - 50px) !important;
  transition: all 0.5s ease-in-out;
}
#recommendation-panel .nav-link {
  font-size: 12px;
  border-radius: 20px;
}
#map .leaflet-routing-container {
  display: none;
}
.leaflet-bar {
  box-shadow: none !important;
  border-radius: none !important;
}
.leaflet-routing-alt {
  margin-top: 10px !important;
  border-bottom: none !important;
}
.leaflet-routing-alt h2 {
  font-size: 20px !important;
}
.leaflet-routing-alt h3 {
  font-size: 16px !important;
}
.leaflet-routing-alt::-webkit-scrollbar {
  display: none;
}
.leaflet-routing-container,
.leaflet-routing-error {
  width: 100%;
}
/* Recommendations */
.rec-bar {
  width: 100%;
  display: none;
  place-items: center;
}
.rec-bar img {
  width: 50px;
  margin: 5px 0;
}
.recommendations {
  height: calc(100vh - 150px);
}
.rec-icons {
  width: 24px;
  background-color: #1e1e1e;
  border-radius: 50%;
  padding: 3px;
  margin-right: 5px;
}
#pills-reco {
  margin-bottom: 0 !important;
}
#pills-reco .nav-link {
  border: 1px solid #1e1e1e;
  border-radius: 20px;
  padding: 5px 8px;
  font-size: 12px;
}
#pills-reco .nav-item {
  margin: 5px 0;
}
#pills-recm .tab-content {
  overflow: scroll !important;
}
#pills-recm .tab-content::-webkit-scrollbar {
  display: none;
}
/* Directions */
#pills-directions {
  overflow: scroll !important;
}
#pills-directions::-webkit-scrollbar {
  display: none;
}

/* Transport */
#pills-transports,
#pills-reco {
  display: flex;
  justify-content: space-between;
}
#pills-transports .nav-link {
  border-radius: 50%;
  padding: 5px;
}
.transp-icons {
  width: 32px;
}
/* Map Buttons */
.map-buttons {
  width: 50px;
  position: fixed;
  top: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9999;
}
.map-buttons button {
  width: fit-content;
  background: none;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: 5px;
}
.map-buttons button:hover {
  transform: scale(1.1);
}
.map-buttons img {
  width: 25px;
}
.active-btn {
  background-color: #65b5ff !important;
}
.map-nav {
  min-width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 20px;
}
.map-nav .btn {
  width: fit-content;
  font-size: 12px;
  border-radius: 15px;
  background-color: #1e1e1e !important;
  margin: 0 5px;
  outline: none !important;
}
.map-nav .btn-wishlist img {
  width: 20px;
}
/* Recommendations Panel */
#recommendation-panel .panel-tabs {
  margin: 10px 0;
}
#recommendation-panel .nav-pills .nav-link {
  color: #000 !important;
}
#recommendation-panel .nav-pills .nav-link.active {
  color: #fff !important;
  background-color: #1e1e1e !important;
}
/* Recommendation Card */
.rec-card {
  width: 100%;
  background: #f1f1f1;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}
.rec-card .rec-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.rec-header h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0 !important;
}
.rec-card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.rec-header p {
  font-size: 12px !important;
  margin-bottom: 0 !important;
}
.rec-card-body .rec-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.rec-card-body .rec-description {
  font-size: 14px;
  margin: 10px 0;
}
.rec-card-body .rec-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rec-card-body .rec-btn {
  font-size: 12px;
  border-radius: 25px;
  padding: 5px 15px;
  background-color: #1e1e1e;
  color: #fff;
  transition: all 0.5s ease;
}
.rec-card-body .rec-btn:hover {
  transform: scale(1.05);
}
.rec-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.rec-not-found img {
  width: 100px;
  height: 100px;
  margin: 20px;
}
.rec-card-rating {
  margin: 0 5px;
}
.verified-biz {
  color: rgb(78, 78, 78);
  font-style: italic;
  margin: 0 15px 0 5px;
}
.verified-biz img {
  width: 18px;
  margin: 0 5px;
}
/* Map popups */
.leaflet-popup-content {
  width: fit-content !important;
  padding: 0 !important;
  margin-right: 8px;
  margin-left: 8px;
}
.leaflet-popup-content-wrapper {
  border-radius: 5px !important;
}
.map-popup {
  width: 350px;
}
.map-popup-header h3 {
  display: flex;
  align-items: center;
}
.map-popup-header .verified-biz {
  font-size: 12px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.map-popup-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map-popup-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
/* Alerts */
.map-alert {
  width: fit-content !important;
  margin: 0 auto;
  position: relative;
  top: 88%;
  text-align: center;
  z-index: 9999999;
}
/* Event styles */
.slide-rec-panel {
  top: 30vh !important;
}
/* Edit tour panel */
.btn-edit-tour {
  display: none;
}
/*===== DRAG and DROP =====*/

.drop_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  overflow-y: scroll;
  width: 100%;
  padding: 10px 0;
}
.drop_container::-webkit-scrollbar {
  display: none;
}
.drop {
  height: 100vh;
  align-items: flex-start;
  justify-content: center;
}

.drop_card,
.drop_data {
  display: flex;
  align-items: center;
}

.drop_card {
  width: calc(100% - 10px);
  justify-content: space-between;
  padding: 20px;
  background-color: var(--first-color-lighten);
  box-shadow: 4px 4px 16px #e1e1e1, -2px -2px 16px #fff;
  border-radius: 50px;
  margin: 0 5px;
  height: 80px;
}

.drop_img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}

.drop_name {
  font-size: var(--normal-font-size);
  color: var(--first-color);
  font-weight: 500;
}

.drop_profession {
  font-size: var(--smaller-font-size);
  padding: 0 10px;
  border-radius: 50px;
  background-color: #dddddd;
}
/* Class name for the chosen item */

.sortable-chosen {
  box-shadow: 8px 8px 32px #e1e1e1;
}

/* Class name for the dragging item */

.sortable-drag {
  opacity: 0;
}
.et-delete {
  width: 40px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  padding: 5px;
  background-color: #dddddd;
}
.et-delete:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.et-btns {
  height: 50px;
  width: 100%;
  display: flex;
  padding: 8px 5px;
  justify-content: flex-end;
}
.et-btns .et-save {
  font-size: 14px;
  background-color: #1e1e1e;
  transition: all 0.3s ease-in-out;
}
.et-btns .et-save:hover {
  background-color: #1e1e1e;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 99999999;
  display: none;
  justify-content: center;
  align-items: center;
}

/* Media query  */
@media (max-width: 1350px) {
  .btn-save-tour {
    left: 85%;
  }
}
@media (max-width: 900px) {
  .btn-save-tour {
    left: 80%;
  }
}
@media (max-width: 768px) {
  .btn-save-tour {
    left: 70%;
    top: 85%;
  }
  .rec-bar {
    display: grid;
  }
  #recommendation-panel {
    height: 70vh !important;
    position: absolute;
    z-index: 9999999;
    border-radius: 15px 15px 0 0;
    top: calc(100% - 80px);
  }
  .leaflet-routing-collapse-btn {
    display: none !important;
  }
  .map-alert {
    top: 80%;
  }
  .map-popup {
    width: 200px;
  }
  .map-popup-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .map-popup-header h3 {
    width: 100%;
    justify-content: space-between !important;
    font-size: 14px !important;
  }
  .map-popup-rating {
    align-self: flex-start;
    margin: 5px 0 !important;
  }
}
