/* Common CSS properties for the page */
body {
  background-color: #e2e2e291;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.hidden-text,
.info-1 {
  color: #9f9d9d;
}

.checked {
  color: rgb(255, 234, 3);
}

.hover01 {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover01:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.text-muted:visited,
.text-muted {
  color: #9f9d9d;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(27, 37, 88);
}

.card-img {
  height: 100%;
}

a:active {
  text-decoration: none;
}

.card-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 28px;
  padding-top: 2%;
}

.container {
  padding: 1%;
}
