/* Common CSS properties for the page */
body {
  background-color: #e2e2e291;
  overflow-x: hidden;
}
.rec-container{
  margin-top: 10px;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  border-radius: 30px 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
.card-img{
  height: 350px; width: 100%; object-fit: cover; border-radius: 30px 5px;
}
.hidden-text,
.info-1 {
  color: #9f9d9d;
}

.checked {
  color: rgb(255, 234, 3);
}

.vertical{
border-right: 1px dashed rgb(226, 224, 224);
}

.hover01 {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover01:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.text-muted:visited,
.text-muted {
  color: #2c2a2a;
  border-style: none;
  border-radius: 3px;
}



a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(27, 37, 88);
}

.card-img {
  height: 100%;
  object-fit: cover;
  display: inline;
}

a:active {
  text-decoration: none;
}

.card-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 28px;
  padding-top: 2%;
  display: inline;
}

.container {
  padding: 1%;
}

.card-text{
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  width: 350px;
}

.mt-n1{
  margin-top: -35px !important;
  margin-left: 25px !important;
}

.mt-n2{
  margin-left: 20px !important;
}

.mt-n3{
  padding-left: 50px;
}

.btn-group{
  position: relative;
  right: 30px;
}

.price{
  border-radius: 5px;
  border-style: none;
  height: 45px;
  width: 120px;
  position: relative;
  top: 80px;
  right: 60px;
}

.fare-price{
  color:rgb(185, 77, 154);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-top: 10px;
}

.More-info{
  border-style: none;
  background-color:#1e1e1e;
  height: 45px;
  width: 100px;
  border-radius: 30px;
  color:#fff;
  position: relative;
  top: 80px;
  left: 30px;
}

.More-info:hover{
  background-color: rgb(222, 231, 229);
  color: #1e1e1e;
}

.avg-price{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  position: relative;
  top: 30px;
  left: 60px;
  display: inline;
}
.page-item.active .page-link{
  background-color: #1e1e1e;
  border-color: #1e1e1e;
}

/* Media queries */
/* =============================================================================================== */
@media only screen and (max-width: 768px) {
  .card-body{
     height: 350px;
     width: 100%;
  }
  .col-md-7{
    height: 100px !important;
  }
}

@media only screen and (max-width: 991px){
   .card{
     width: 140% !important;
   }
}

@media only screen and (min-width: 601px) and (max-width: 767px){
  .card{
    position: relative;
    right: 100px !important;
  }
  .card-body{
    height: 160px !important;
  }
   .sub-header{
    position: relative;
    bottom: 90px !important;
   }
   .card-text{
    position: relative;
    bottom: 90px !important;
    font-size: 12px;
    width: 400px;
   }
   .avg-price{
    position: relative;
    top: -50px !important;
    left: 150px  !important;
   }
   .price{
    position: relative;
    left: 50px !important;
    top: -1px !important;
   }
   .btn-group{
    position: relative;
    left: 50px !important;
    top: -60px !important;
   }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card{
    width: 140% !important;
  }
  .card-title{
    font-size: 23px !important;
  }
  .card-text{
    position: relative;
    bottom: 270px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    width:200%;
  }
  .avg-price{
    position: relative;
    left: -215px !important;
    top: 45px !important;
  }
  .price{
    position: relative;
    left: -320px !important;
    top: 90px !important;
  }
  .btn-group{
    position: relative;
    top: -90px !important;
  }
  .sub-header{
       position: relative;
       bottom: 275px !important; 
  }
  .cat{
    padding-bottom: 7px !important;
  }
  }

  @media only screen and (max-width: 320px){
    .card{
      width: 200% !important;
    }
  }

  @media only screen and (max-width: 258px) and (min-width:245px){
      .price{
        margin-left: 100px !important;
      }
      .card{
        position: relative;
        left: 5px !important;
      }
  }

  @media only screen and (max-width: 172px) and (min-width:161px){
    .price{
      margin-left: 100px !important;
    }
    .card{
      position: relative;
      left: 20px !important;
    }
    .btn-group{
      position: relative;
      left: -70px !important;
    }
    .avg-price{
      position: relative;
      top: 60px !important;
    }
  }

  @media only screen and (max-width: 370px) and (min-width:321px){
    .price{
      margin-left: 100px !important;
    }
    .card{
      position: relative;
      left: 30px !important;
    }
    .btn-group{
      position: relative;
      right: 60px !important;
    }

  }

  @media only screen and (max-width: 245px){
    .card{
      width: 300% !important;
    }
  }

  /* Large devices */
  @media only screen and (min-width: 1200px){
     .card-text{
      width: 400px !important;
     }
  }

  @media only screen and (max-width: 160px){
    .card{
      width: 400% !important;
    }
  }

  /* Galaxy Fold */
  @media all and (device-width: 280px) and (device-height: 653px) and (orientation:portrait) {
    .card{
      width: 200% !important;
    }
  }


 /* Ipad Air */
 @media all and (device-width: 820px) and (device-height: 1180px) and (orientation:portrait){
    .card{
      position: relative;
      right: 60px !important;
    }
    .sub-header{
      position: relative;
      top: 5px !important;
    }
    .card-text{
      font-size: 11px;
    }
 }

 /* Ipad Mini */
 @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .card{
    position: relative;
    right: 25px !important;
    height: 350px !important;
  }
  .card-body{
    height: 100px !important;
  }
  .card-img{
    object-fit: cover;
    height: 350px;
  }
  .sub-header{
    position: relative;
    top: -30px !important;
  }
  .card-text{
    position: relative;
    top: -25px !important;
    font-size: 11px;
    margin-bottom: 2px !important;
  }
 }

 /*  Surface Pro 7 */
 @media all and (device-width: 912px) and (device-height: 1368px) and (orientation:portrait){
  .card{
    position: relative;
    right: 100px !important;
  }
  .card-text{
    font-size: 11px;
  }
 }

 @media all and (device-width: 540px) and (device-height: 720px) and (orientation:portrait){
  .card-text{
    font-size: 15px;
  }
 }

 @media all and (device-width: 1024px) and (device-height: 600px) and (orientation:portrait){
  .card-text{
    position: relative;
    bottom: 3px !important;  
  }
 }

 @media all and (device-width: 360px) and (device-height: 740px) and (orientation:portrait){
  .price{
    margin-left: 90px !important;
  }
  .card{
    position: relative;
    left: -2px !important;
  }
 }