.req-biz-form {
  margin-top: 80px !important;
  margin-bottom: 20px;
}
.req-biz-form .form-group {
  margin: 20px 0;
}
.req-biz-form .form-group label {
  padding-bottom: 10px;
}
.req-biz-form .btn-primary,
#exampleModal .btn-primary {
  background-color: #1e1e1e;
}
.req-biz-form .btn-primary:hover {
  background-color: #1e1e1e;
}
.req-biz-form .btn-primary:focus {
  background-color: #1e1e1e;
  border-color: none !important;
}
.req-biz-form button[type="submit"] {
  float: right;
}
.biz-logo {
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
  border: none;
  top: -50px;
  left: 10px;
  z-index: 999;
}
.modal-body {
  height: 350px;
  width: 100%;
}
#map {
  height: 100%;
  width: 100%;
}
