.card {
  max-width: 350px;
  width: 100%;
  background: #e0e0e0;
  padding: 15px 10px;
  margin: 10px 0;
  border-radius: 10px;
}
.card .details {
  display: flex;
  align-items: center;
}
.card-body .img {
  width: 100%;
  height: 150px;
  background: #656871;
  opacity: 0.3;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.card-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .details {
  margin-left: 20px;
}
.details span {
  display: block;
  background: #656871;
  opacity: 0.3;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.details .name {
  height: 20px;
  width: 150px;
}
.details .rating {
  height: 20px;
  width: 35px;
  margin: 0 10px;
}
.card .description {
  margin: 25px 0 5px 0;
}
.description .line {
  background: #656871;
  opacity: 0.3;
  border-radius: 10px;
  height: 13px;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}
.description .line-1 {
  width: calc(100% - 15%);
}
.description .line-3 {
  width: calc(100% - 40%);
}
.card-btns .line-4,
.card-btns .line-5,
.card-btns .line-6 {
  width: 30%;
  height: 40px;
  border-radius: 25px;
  margin: 10px 0 0 0;
}

.card-body .img::before,
.details span::before,
.description .line::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #656871 0%,
    #888b94 20%,
    #656871 40%,
    #656871 100%
  );
  background-repeat: no-repeat;
  background-size: 450px 400px;
  animation: shimmer 1s linear infinite;
}
.card-body .img::before {
  background-size: 650px 600px;
}
.details span::before {
  animation-delay: 0.2s;
}
@keyframes shimmer {
  0% {
    background-position: -450px 0;
  }
  100% {
    background-position: 450px 0;
  }
}
