@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #e2e2e291;
}


/* Standard styling for navbar*/
nav{
    padding: 20px;
    color: #ffffff;
}

.navbar{
    position: relative;
    background-color: #1e1e1e;
    color: #ffffff;
}

.navbar-toggler-icon,.navbar-toggler{
    color: #ffffff;
}

.navbar a{
    text-decoration: none;
    color: #ffffff;
}
.nav-item button, .project-name{
    margin: 0 10px 0 10px;
    padding: 10px;
    border: none;
    background-color: transparent;
}

.nav-item button:hover,.project-name:hover{
    background-color: #cecccc7c;
    border-radius: 5px;
    color: #ffffff;
}
.project-name, .items span{
    color: #ffffff;
}
@media (min-width:992px){
    .navbar-nav{
        position: absolute;
        right: 2px;
    }
}
