@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #e2e2e291;
}

/* Standard styling for navbar*/
nav {
  padding: 20px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
/* Scroll bar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border-radius: 10px;
}

/* Standard styling for navbar*/
.main-navbar {
  width: 100%;
  padding: 0 20px;
  position: fixed !important;
  top: 0;
  background-color: #1e1e1e;
  color: #ffffff;
  z-index: 9999;
}

.main-navbar .navbar-toggler-icon,
.main-navbar .navbar-toggler {
  color: #ffffff;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
}
.main-navbar a {
  text-decoration: none;
  color: #ffffff;
}
.main-navbar .nav-item button,
.main-navbar .project-name {
  padding: 5px 0;
  border: none;
  background-color: transparent;
}

/* .main-navbar .nav-item button:hover {
  border-bottom: 1px solid #ffffff;
} */
.main-navbar .nav-item {
  margin: 10px !important;
}
.main-navbar .project-name,
.main-navbar .items span {
  color: #ffffff;
}
.main-navbar ul li > a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}
.main-navbar ul li > a:hover::after {
  width: 100%;
}
.main-navbar ul li.nav-profile > a::after {
  display: none;
}
/* Alerts */
.alert-message {
  animation: fadeIn 0.5s;
}
.alert-animation {
  animation: fadeOut 2s steps(90) forwards;
  -webkit-animation: fadeOut 2s steps(90) forwards;
  -moz-animation: fadeOut 2s steps(90) forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media (min-width: 992px) {
  .main-navbar .navbar-nav {
    position: absolute;
    right: 2px;
  }
}
