.tour-details-container {
  margin-top: 70px !important;
}
.tour-datails-card{
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.tour-details-container .card-img {
  width: 100%;
  height: auto;
  max-height: 350px;
  border-radius: 10px;
  object-fit: cover;
}
.tour-details-table a {
  color: rgb(151, 151, 151);
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.tour-details-table a:hover {
  color: rgb(97, 97, 97);
}
.tour-datails-header .card-title {
  font-size: 22px;
  font-weight: 600;
}
.tour-datails-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 992px) {
  .navbar-nav {
    position: absolute;
    right: 2px;
  }
}
.btn-wishlist {
  padding: 0;
  background-color: transparent !important;
  border: none !important;
  transition: all 0.3s ease-in-out;
}
.btn-wishlist:hover {
  transform: scale(1.05);
}

.btn-wishlist img {
  width: 30px;
  float: right;
}
.tour-datails-header .btn:active {
  border: none;
}
.btn {
  width: fit-content;
  font-size: 14px;
  border-radius: 15px;
  background-color: #1e1e1e !important;
  margin: 0 5px;
  outline: none !important;
  float: right;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.05);
}
/* Review */
.review-card {
  min-height: 100px;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 0 20px 20px 20px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.review-card .card-img-cont {
  display: grid;
  place-items: center;
}
.review-card .card-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.review-body .review-user {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.review-body .review-data {
  font-size: 14px;
  color: rgb(151, 151, 151);
}
/* Avg fare */
.avg-fare p{
  font-size: 15px;
}
.avg-fare .avg-lable{
  font-size: 18px;
  font-weight: 600;
}
/* Pagination */
.review-pagination .pagination{
  width: 100%;
  justify-content: center;
}
.page-item.active .page-link{
  background-color: #1e1e1e;
  border-color: #1e1e1e;
}