.profile-container {
  background-color: #ffffff;
}

.card {
  width: 70%;
  margin-left: 15%;
}

.profile-button {
  background: #1e1e1e;
  box-shadow: none;
  border: none;
  transition: 0.5s ease-in;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
  transform: scale(1.05);
}

.profile-button:hover {
  background: #1e1e1e;
  transform: scale(1.05);
}
