{% extends 'main.html' %} {% load static %} {% block styles %}

<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/userprofile.css' %}" />
{% endblock %} {% block content %}

<div class="container" style="margin-top: 100px; margin-bottom: 15px">
    {% include 'base/alertMessages/messages.html' %}
    <div class="container rounded">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg card py-3 profile-card">
                    <div class="my-2 text-center">
                        <h2>Delete Account</h2>
                        <br/>
                        <div class="form-group">
                            <label for="name" style="float:center">Enter your Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter Your password"
                                name="password" required />
                        </div>
                        <div class="text-center my-3">
                            <button class="btn btn-primary profile-button" style="float: center" type="submit">
                                Confirm Delete
                            </button>
                        </div>
                    </div>
                    <p class='text-center' style="color:red">Note: Once Account is deleted it cannot be recovered!</p>
                </div>

        </form>
    </div>
    <div class="my-5"></div>
</div>
{% include 'base/alertMessages/msgTimeOut.html' %} {% endblock %}