{% extends 'main.html' %} {% load static %} {% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/home.css' %}" />
{% endblock %}
{% block content %}
  <!--Carousel start-->
  <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <img>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        {% include 'base/alertMessages/messages.html' %}
        <img src="{% static 'images/home/tour-2.jpg' %}" class="d-block w-100 h-100" alt="#" />
        <div class="carousel-caption">
          <h5 class="text-dark">YATRA <span class="auto-type"></span></h5>
          {% if user.is_authenticated %}
          <a href="#tourist" class="btn btn-warning mt-3">Learn More</a></span>
          {% else %}
          <span><a href="{% url 'signup' %}" class="btn btn-success mt-3">Get Started</a>
            <a href="#tourist" class="btn btn-warning mt-3">Learn More</a></span>
          {% endif %}
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="{% static 'images/home/tour-1.jpg' %}" class="d-block w-100 h-100" alt="...">
        <div class="carousel-caption">
          <h5 style="color:#0f3d3e;">BEST <span class="auto-type1"></span></h5>
          {% if user.is_authenticated %}
          <a href="#tourist" class="btn btn-warning mt-3">Learn More</a></span>
          {% else %}
          <span><a href="{% url 'signup' %}" class="btn btn-success mt-3">Get Started</a>
            <a href="#tourist" class="btn btn-warning mt-3">Learn More</a></span>
          {% endif %}
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="{% static 'images/home/tour-2.jpg' %}" class="d-block w-100 h-100" alt="...">
        <div class="carousel-caption">
          <h5 style="color:#1e1e1e;">BEST <span class="auto-type2"></span></h5>
          {% if user.is_authenticated %}
          <a href="#tourist" class="btn btn-warning mt-3">Learn More</a></span>
          {% else %}
          <span><a href="{% url 'signup' %}" class="btn btn-success mt-3">Get Started</a>
            <a href="#tourist" class="btn btn-warning mt-3">Learn More</a></span>
          {% endif %}
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="{% static 'images/home/main_cover2.jpg' %}" class="d-block w-100 h-100" alt="...">
        <div class="carousel-caption">
          <div>
            <h5 style="color:#1e1e1e;">BEST <span class="auto-type3"></span></h5>
            {% if user.is_authenticated %}
            <a href="#tourist" class="btn btn-warning mt-3">Learn More</a></span>
            {% else %}
            <span><a href="{% url 'signup' %}" class="btn btn-success mt-3">Get Started</a>
              <a href="#tourist" class="btn btn-warning mt-3">Learn More</a></span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Basic Intro about website -->
  <div class="container" id="welcome">
    <p class="first-text">WELCOME TO</p>
    <p class="second-text">YATRA MITRA</p>
    <hr class="border">
    <p class="about-text">
      Whether it is a one day trip or a long vacattion, a solo ride or an adventurous trek we provide you with the best recommendations and help you plan your trip with all the informations that you need to know.
    </p>
  </div>

  <!-- Newsletter -->
  <div class="tm-section-2">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="tm-section-title">We are here to help you?</h2>
                <p class="tm-color-white tm-section-subtitle">Subscribe to get our newsletters</p>
                <a href="{% url 'subscribe' %}" class="tm-color-white tm-btn-white-bordered">Subscribe Newsletters
                </a>
            </div>                
        </div>
    </div>        
  </div>



  <div class="tm-section tm-position-relative">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
        <polygon fill="#ee5057" points="0,0  100,0  50,60"></polygon>                   
    </svg> 
    <div class="container tm-pt-5 tm-pb-4">
        <div class="row text-center">
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">                            
                <i class="fa tm-fa-6x fa-legal tm-color-primary tm-margin-b-20" id="icon"></i>
                <h3 class="tm-color-primary tm-article-title-1">Level HTML Template by Tooplate website</h3>
                <p>You are allowed to download, edit and use this template for your business or client websites.</p>
            </article>
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">                            
                <i class="fa tm-fa-6x fa-plane tm-color-primary tm-margin-b-20" id="icon"></i>
                <h3 class="tm-color-primary tm-article-title-1">Original Website Template Producer</h3>
                <p>You are NOT allowed to re-distribute the downloadable template ZIP file on any website.</p>                          
            </article>
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">                           
                <i class="fa tm-fa-6x fa-life-saver tm-color-primary tm-margin-b-20" id="icon"></i>
                <h3 class="tm-color-primary tm-article-title-1">Contact us if you have any question</h3>
                <p>If you see this template being distributed on any other site, that is an illegal copy.</p>                         
            </article>
        </div>        
    </div>
  </div>

  <!-- about section Ends -->
  <!-- tourist section Starts -->
  <section class="tourist section-padding" id="tourist">
    <div class="container">
      <div class="row">
        <div class="col-md-12" data-aos="fade-down" data-aos-delay="150">
          <div class="section-header text-center pb-5">
            <hr class="featurette-divider">
            <h1 class="second-text">Best Tourist Attractions</h1>
            <p class="subtext">Below are some of our best recommended places.</p>
            <hr class="featurette-divider">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-12 col-md-6 col-lg-4" data-aos="fade-down" data-aos-delay="150">
          <div class="card hover01">
            <img src="{% static 'images/user/nature.jpg'%}" class="img-fluid" alt="..." />
            <div class="card-body">
              <h3 class="card-title">Best place</h3>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus
                alias iste. Accusantium?</p>
              <p class="read-more"><a href="#" class="btn btn-warning mt-3">Read More</a></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 data-aos=" fade-down" data-aos-delay="150"">
          <div class="card hover01">
          <img src="{% static 'images/user/nature.jpg'%}" class="img-fluid" alt="..." />
          <div class="card-body">
            <h3 class="card-title">Best place</h3>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus
              alias iste. Accusantium?</p>
            <p><a href="#" class="btn btn-warning mt-3">Read More</a></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 data-aos=" fade-down" data-aos-delay="250"">
                <div class="card hover01">
        <img src="{% static 'images/user/nature.jpg'%}" class="img-fluid" alt="..." />
        <div class="card-body">
          <h3 class="card-title">Best place</h3>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus
            alias iste. Accusantium?</p>
          <p><a href="#" class="btn btn-warning mt-3">Read More</a></p>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  <!-- tourist section Ends -->


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <hr class="border">
    <h1 class="text-center second-text">Features</h1>
    <hr class="border">
    <hr class="featurette-divider">
    <div class="row featurette hover01" id="Register">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1 mt-3">Register your Business <span class="text-muted">Register now to stand at the top of the recommendation searches!</span></h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quaerat, eligendi alias nulla facilis sit temporibus possimus, quis, culpa consequuntur quam neque. Impedit assumenda, eos harum est eum quisquam natus.
        </p>
        <button class="btn registerbtn mt-5">
          <a href="{% url 'registerBusiness' %}" class="text">Register Now</a>
        </button>
      </div>
      <div class="col-md-5">
        <img src="{% static 'images/home/register.png'%}" class="img-fluid reg-img" alt="...">
      </div>
    </div>

    <!-- <hr class="border"> -->

    <div class="row featurette hover01">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Find the best route to travel <span class="text-muted">See for
            yourself.</span></h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quis in mollitia quaerat, quidem explicabo, iste officiis dolor harum laudantium, quam id? Tempora explicabo incidunt facere repellendus est doloribus pariatur.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{% static 'images/home/map-pic.png'%}" class="img-fluid map-pic" alt="...">
      </div>
    </div>

    <hr class="border">

    <div class="row featurette hover01">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Recommendation Form<span class="text-muted">Checkmate.</span>
        </h2>
        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, quisquam ullam? Nostrum tenetur, reiciendis repellat magni animi veniam numquam commodi est et officiis minima distinctio ad tempora? Nisi, est incidunt!</p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'images/home/tourform.png'%}" class="img-fluid tour-img" alt="...">
      </div>
    </div>
  </div>

  <!-- /END THE FEATURETTES -->

  <!-- footer -->

  <footer>
    <div id="contact" class="footer">
      <div class="container">
        <div class="row pdn-top-30">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="Follow">
              <h3>ADDITIONAL LINKS</h3>
              <ul class="link">
                <li><a href="{% url 'aboutUs' %}">About us</a></li>
                <li>
                  <a href="{% url 'registerBusiness' %}">Register Business</a>
                </li>
                <li><a href="#"> Privacy policy</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#"> Contact us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
            <div class="Follow">
              <h3>Contact</h3>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <input class="Newsletter" placeholder="Name" type="text" />
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <input class="Newsletter" placeholder="Email" type="text" />
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <textarea class="textarea" placeholder="  Comment" type="text"></textarea>
                </div>
              </div>
              <button class="Subscribe">Submit</button>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="container">
            <p>
              Copyright 2019 All Right Reserved By
              <a href="https://html.design/">Free html Templates</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--End Of Footer-->
  <script>
    var typed = new Typed(".auto-type", {
      strings: ["MITRA"],
      typeSpeed: 200,
      backSpeed: 170,
      loop: true
    })
    var typed = new Typed(".auto-type1", {
      strings: ["PLACES"],
      typeSpeed: 200,
      backSpeed: 170,
      loop: true
    })
    var typed = new Typed(".auto-type2", {
      strings: ["TOURS"],
      typeSpeed: 180,
      backSpeed: 150,
      loop: true
    })
    var typed = new Typed(".auto-type3", {
      strings: ["RECOMMENDATIONS"],
      typeSpeed: 250,
      backSpeed: 220,
      loop: true
    })
  </script>
  {% include 'base/alertMessages/msgTimeOut.html' %}
  {% endblock %}
