{% extends 'main.html' %} {% load static %} {% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/home.css' %}" />
{% endblock %} {% block content %}

<body>
  <!--Carousel start-->
  <div id="carouselExampleDark" class="carousel  carousel-dark slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        {% include 'base/alertMessages/messages.html' %}
        <img src="{% static 'images/home/main_banner.png' %}" class="d-block w-100 h-100" alt="#" />
        <div class="carousel-caption">
          <h5 class="text-dark">YATRA <span class="auto-type"></span></h5>
          {% if user.is_authenticated %}
          <a href="#tourist" class="btn btn-warning mt-3">Learn More</a></span>
          {% else %}
          <span><a href="{% url 'signup' %}" class="btn btn-success mt-3">Get Started</a>
            <a href="#tourist" class="btn btn-warning mt-3">Learn More</a></span>
          {% endif %}
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="{% static 'images/home/main_cover.jpg' %}" class="d-block w-100 h-100" alt="...">
        <div class="carousel-caption">
          <h5 style="color:#1e1e1e;">BEST <span class="auto-type1"></span></h5>
          {% if user.is_authenticated %}
          <a href="#tourist" class="btn btn-warning mt-3">Learn More</a></span>
          {% else %}
          <span><a href="{% url 'signup' %}" class="btn btn-success mt-3">Get Started</a>
            <a href="#tourist" class="btn btn-warning mt-3">Learn More</a></span>
          {% endif %}
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="{% static 'images/home/main_cover1.jpg' %}" class="d-block w-100 h-100" alt="...">
        <div class="carousel-caption">
          <h5 style="color:#1e1e1e;">BEST <span class="auto-type2"></span></h5>
          {% if user.is_authenticated %}
          <a href="#tourist" class="btn btn-warning mt-3">Learn More</a></span>
          {% else %}
          <span><a href="{% url 'signup' %}" class="btn btn-success mt-3">Get Started</a>
            <a href="#tourist" class="btn btn-warning mt-3">Learn More</a></span>
          {% endif %}
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="{% static 'images/home/main_cover2.jpg' %}" class="d-block w-100 h-100" alt="...">
        <div class="carousel-caption">
          <div>
            <h5 style="color:#1e1e1e;">BEST <span class="auto-type3"></span></h5>
            {% if user.is_authenticated %}
            <a href="#tourist" class="btn btn-warning mt-3">Learn More</a></span>
            {% else %}
            <span><a href="{% url 'signup' %}" class="btn btn-success mt-3">Get Started</a>
              <a href="#tourist" class="btn btn-warning mt-3">Learn More</a></span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- about section Ends -->
  <!-- tourist section Starts -->
  <section class="tourist section-padding" id="tourist">
    <div class="container">
      <div class="row">
        <div class="col-md-12" data-aos="fade-down" data-aos-delay="150">
          <div class="section-header text-center pb-5">
            <h1>Best Tourist Attractions</h1>
            <p>Below are some of our best recommended places.</p>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-12 col-md-6 col-lg-4" data-aos="fade-down" data-aos-delay="150">
          <div class="card">
            <img src="{% static 'images/user/nature.jpg'%}" class="img-fluid" alt="..." />
            <div class="card-body">
              <h3 class="card-title">Best place</h3>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus
                alias iste. Accusantium?</p>
              <p><a href="#" class="btn btn-warning mt-3">Read More</a></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 data-aos=" fade-down" data-aos-delay="150"">
                <div class=" card">
          <img src="{% static 'images/user/nature.jpg'%}" class="img-fluid" alt="..." />
          <div class="card-body">
            <h3 class="card-title">Best place</h3>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus
              alias iste. Accusantium?</p>
            <p><a href="#" class="btn btn-warning mt-3">Read More</a></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 data-aos=" fade-down" data-aos-delay="250"">
                <div class=" card">
        <img src="{% static 'images/user/nature.jpg'%}" class="img-fluid" alt="..." />
        <div class="card-body">
          <h3 class="card-title">Best place</h3>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus
            alias iste. Accusantium?</p>
          <p><a href="#" class="btn btn-warning mt-3">Read More</a></p>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  <!-- tourist section Ends -->


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <h1 class="text-center">Features</h1>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-muted">It’ll blow your
            mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.
        </p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'images/user/nature.jpg'%}" class="img-fluid" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for
            yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this
          layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{% static 'images/user/nature.jpg'%}" class="img-fluid" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span>
        </h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really
          intended to be actually read, simply here to give you a better view of what this would look like with some
          actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'images/user/nature.jpg'%}" class="img-fluid" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">
    <h5 class="float-end"><a href="#">Back to top</a></h5>
    <br />
    <br />
  </div>

  <!-- /END THE FEATURETTES -->

  <!-- footer -->

  <footer>
    <div id="contact" class="footer">
      <div class="container">
        <div class="row pdn-top-30">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="Follow">
              <h3>ADDITIONAL LINKS</h3>
              <ul class="link">
                <li><a href="{% url 'aboutUs' %}">About us</a></li>
                <li>
                  <a href="{% url 'registerBusiness' %}">Register Business</a>
                </li>
                <li><a href="#"> Privacy policy</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#"> Contact us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
            <div class="Follow">
              <h3>Contact</h3>
              <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <input class="form-control Newsletter" name="contact-name" placeholder="Name" type="text" />
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <input class="form-control Newsletter" name="contact-email" placeholder="Email" type="text" />
                  </div>
                </div>  
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <textarea  name="contact-message" class="form-control Newsletter" placeholder="Comment" type="text"></textarea>            
                  </div>
                </div>
              
                <button class="Subscribe" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="container">
            <p>
              Copyright 2019 All Right Reserved By
              <a href="https://html.design/">Free html Templates</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--End Of Footer-->
  <script>
    var typed = new Typed(".auto-type", {
      strings: ["MITRA"],
      typeSpeed: 200,
      backSpeed: 170,
      loop: true
    })
    var typed = new Typed(".auto-type1", {
      strings: ["PLACES"],
      typeSpeed: 200,
      backSpeed: 170,
      loop: true
    })
    var typed = new Typed(".auto-type2", {
      strings: ["TOURS"],
      typeSpeed: 180,
      backSpeed: 150,
      loop: true
    })
    var typed = new Typed(".auto-type3", {
      strings: ["RECOMMENDATIONS"],
      typeSpeed: 250,
      backSpeed: 220,
      loop: true
    })
  </script>
  {% include 'base/alertMessages/msgTimeOut.html' %}
  <!--  -->
  {% endblock %}


</body>