{% extends 'main.html' %} {% load static %} {% block content %}
<style>
  #map {
    height: 100vh;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-9" id="map"></div>
    <div class="col-3">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">Directions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Food</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Transport</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<script src="{% static 'scripts/map.js' %}"></script>
{% endblock %}
