{% extends 'main.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'styles/map.css' %}" />
<link rel="stylesheet" href="{% static 'styles/skeleton.css' %}" />
{% endblock %} {% block content %}
<div class="container-fluid container-map">
  <div class="row">
    {% include 'base/components/mapContainer.html' %}
    <div class="col-lg-3 col-md-4 col-sm-6" id="recommendation-panel">
      <div class="col-12 recm-options">
        {% include 'base/components/mapPanelNav.html' %}
      </div>
      <div class="col-12 recommendations">
        {% include 'base/components/mapPanelTabs.html' %}
      </div>
    </div>
  </div>
</div>
<script src="{% static 'scripts/map.js' %}"></script>
<script>
  const recSetHeight = () => {
    setTimeout(() => {
      const navHeight = document.querySelector(".main-navbar").offsetHeight;
      const recNavHeight = document.querySelector(".recm-options").offsetHeight;
      const recPillsHeight = document.querySelector("#pills-reco").offsetHeight;
      const recTab = document.querySelector("#pills-recm .tab-content");
      recTab.style.height =
        window.innerHeight -
        navHeight -
        recNavHeight -
        recPillsHeight -
        20 +
        "px";
    }, 500);
  };
  const dirSetHeight = () => {
    const navHeight = document.querySelector(".main-navbar").offsetHeight;
    const recNavHeight = document.querySelector(".recm-options").offsetHeight;
    const dirTab = document.querySelector(".leaflet-routing-alt");
    dirTab.style.maxHeight =
      window.innerHeight - navHeight - recNavHeight - 30 + "px";
  };
  getCurrLoc();
  createWaypoints(["{{tour.lat}}", "{{tour.lng}}"], "{{tour.id}}");
</script>
{% endblock %}
