{% load static %}
<div class="rec-card">
    <div class="rec-header">
      <h4>Iskcon Temple Bangalore</h4>
    </div>
    <div class="rec-card-body">
      <img src="{% static 'images/tourForm/travel2.jpg'%}" alt="" class="rec-img">
      <div class="rec-description">
        <p>Sri Radha Krishna Temple has deities of Radha and Krishna located at Bangalore. Donate Online. View Gallery. Watch Videos. Brands: Higher Taste, Krishnamrita, Krishnashraya, Chanters Club, Folk, Pilgrimage, International School.</p>
      </div>
      <button class="rec-btn">Visit</button>
    </div>
  </div>