{% extends 'main.html' %} {% load static %} {% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/recommendation.css' %}" />
{% endblock %} {% block content %} {% for data in tour_data %}
<div class="rec-container">
  <div class="container rounded-3">
    <section class="card hover01">
      <div class="row no-gutters span6">
        <div class="col-md-4">
          <img
            src="/media/{{data.image}}"
            class="card-img"
            style="height: 350px; width: 100%; object-fit: cover"
            alt="{{data.name}}"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{data.name}}</h5>
            <section
              style="display: inline; padding-left: 20px"
              class="rating-class"
            >
              <span class="hidden-text">{{data.rating}}</span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="rating-star">
                <!-- By default the star is full else it is empty otherwise it is half -->
                <i
                  class="fa fa-star{% if data.rating < 0.5%}-o{% elif data.rating >= 0.5 and data.rating < 1 %}-half-o{% endif %}"
                  style="color: #f1d554"
                  aria-hidden="true"
                ></i>
                <i
                  class="fa fa-star{% if data.rating < 1.5%}-o{% elif data.rating >= 1.5 and data.rating < 2 %}-half-o{% endif %}"
                  style="color: #f1d554"
                  aria-hidden="true"
                ></i>
                <i
                  class="fa fa-star{% if data.rating < 2.5%}-o{% elif data.rating >= 2.5 and data.rating < 3 %}-half-o{% endif %}"
                  style="color: #f1d554"
                  aria-hidden="true"
                ></i>
                <i
                  class="fa fa-star{% if data.rating < 3.5%}-o{% elif data.rating >= 3.5 and data.rating < 4 %}-half-o{% endif %}"
                  style="color: #f1d554"
                  aria-hidden="true"
                ></i>
                <i
                  class="fa fa-star{% if data.rating < 4.5%}-o{% elif data.rating >= 4.5 and data.rating < 5 %}-half-o{% endif %}"
                  style="color: #f1d554"
                  aria-hidden="true"
                ></i>
              </span>
            </section>
          </div>
          <div class="row row-cols-2">
            <div class="col-md-7">
              <section style="display: inline" class="sub-header">
                <button class="disabled text-muted mt-n2 cat">
                  {{ data.get_category_display }}
                </button>
                {% if data.rating > 3.9 %}
                <button class="disabled text-muted mt-n2 sub">
                  {{data.subtext}}
                </button>
                {% else %}
                <button class="disabled text-muted mt-n2 sub">
                  People also visited
                </button>
                {% endif %}
              </section>
              <p class="card-text py-4 px-3" style="height: 250px">
                {{data.description}}
              </p>
            </div>
            <div class="col-md-5">
              <p class="avg-price">Average Fair</p>
              <button class="disabled price">
                <p class="fare-price">&#x20B9;{{data.avg_fare}}</p>
                <p class="text-muted">per person</p>
              </button>
              <div class="btn-group">
                <a href="{% url 'map' %}?id={{data.id}}"
                  ><button class="More-info my-5">View Tour</button></a
                >
                <a href="{% url 'tourDetails' data.id %}"
                  ><button class="More-info mx-4 my-5">Details</button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% endfor %} {% endblock %}
