{% extends 'main.html' %} {% load static %} {% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/signup.css' %}" />
{% endblock %} {% block content %}
<br />
<br />
<br />
<div class="container">
  {% include 'base/alertMessages/messages.html' %}
  <form action="{% url 'signup' %}" method="POST" class="form-container">
    {% csrf_token %}
    <h2>Sign Up</h2>
    <div class="input-box">
      <input
        type="text"
        id="username"
        placeholder="Enter Username"
        name="username"
        required
      />
      <div class="underline"></div>
    </div>
    <div class="input-box">
      <input
        type="email"
        id="email"
        placeholder="Enter Your Email"
        name="email"
        required
      />
      <div class="underline"></div>
    </div>
    <div class="input-box">
      <input
        type="password"
        id="password"
        placeholder="Enter Your Password"
        name="password"
        required
      />
      <div class="underline"></div>
    </div>
    <br />
    <div style="text-align: center">
      <p>
        By creating the account you agree to our
        <a href="#" style="color: blue">Terms & Privacy</a>
      </p>
    </div>

    <div class="input-box button">
      <input type="submit" name="" value="Sign Up" />
    </div>
    <div>
      <p style="text-align: center">
        Already a user?<a
          href="{% url 'login' %}"
          style="color: rgb(62, 156, 255)"
          >Login here</a
        >
      </p>
    </div>
  </form>
</div>
{% include 'base/alertMessages/msgTimeOut.html' %}
<!--  -->
{% endblock %}
