{% extends 'main.html' %}
{% load static %} 
{% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/subscribe.css' %}" />
{% endblock %}

{% load crispy_forms_tags %}
{% block content %} 
<!-- Add code from body here -->
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-4 offset-md-4">
            {% for message in messages %}
            <div class="alert alert-success">
            {{ message }}
            </div>
            {% endfor %}
            <div class="card hover01" style="width:150%; justify-content:center; align-items:center;">
                <div class="card-body">
                    <img src="{% static 'images/newsletter/newsletter.png' %}" class="newsletter">
                    <h3 class="sub-text">Subscribe to Newsletter</h3>
                    <p class="below-text">Subscribe to our newsletter and stay updated!</p>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                         {{form|crispy }}
                        <input class="btn btn-success btn-block mt-5 subscribe" name="subscribe" type="submit" value="Subscribe">
                        <input class="btn btn-danger btn-block mt-5 unsubscribe" name="unsubscribe" type="submit" value="Unsubscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}