{% extends 'main.html' %} {% load static %} {% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'teamProfile.css' %}" />

{% endblock %} {% block content %}
<br>
<br>
<div class="py-5 team4">
    <div class="container">
      <div class="row justify-content-center mb-4">
        <div class="col-md-7 text-center">
          <h3 class="mb-3">Experienced & Professional Team</h3>
          <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
        </div>
      </div>
      <div class="row">
        <!-- column  -->
        <div class="col-lg-3 mb-4">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12">
              <img src= "{% static 'images/developers/ashwin.jpeg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
            </div>
            <div class="col-md-12 text-center">
                <div class="pt-2">
                    <h5 class="mt-4 font-weight-medium mb-0">Ashwin Shanbhag</h5>
                    
                     <a href="https://github.com/AshwinShanbhag" class="fa fa-github" style="font-size:30px"></a>
                     &nbsp &nbsp &nbsp
                     <a href="https://www.linkedin.com/in/ashwin-shanbhag/" class="fa fa-linkedin" style="font-size:30px"></a>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 mb-4">
                <div class="row">
                    <div class="col-md-12">
                        <img src= "{% static 'images/developers/dharshan.jpeg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-md-12 text-center">
                      <div class="pt-2">
                        <h5 class="mt-4 font-weight-medium mb-0">Darshan Naik</h5>
                      
                     
                     <a href="https://github.com/DarshanDattaNaik" class="fa fa-github" style="font-size:30px"></a>
                     &nbsp &nbsp &nbsp
                     <a href="https://www.linkedin.com/in/darshan-naik-a37214216/" class="fa fa-linkedin" style="font-size:30px"></a>
{% comment %} <i class="fa fa-github" style="font-size:36px">
  <a href="www.github.com"></a>
</i>
&nbsp &nbsp &nbsp
<i class="fa fa-linkedin" style="font-size:36px"></i>
<br> {% endcomment %}


                      </div>
                    </div>
                  </div>
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-3 mb-4">
                  <!-- Row -->
                  <div class="row">
                    <div class="col-md-12">
                        <img src= "{% static 'images/developers/kishor.jpeg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-md-12 text-center">
                      <div class="pt-2">
                        <h5 class="mt-4 font-weight-medium mb-0">Kishor Balgi</h5>
                        
                        
                     <a href="https://github.com/KishorBalgi" class="fa fa-github" style="font-size:30px"></a>
                     &nbsp &nbsp &nbsp
                     <a href="https://www.linkedin.com/in/kishorbalgi/" class="fa fa-linkedin" style="font-size:30px"></a>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-3 mb-4">
                  <!-- Row -->
                  <div class="row">
                    <div class="col-md-12">
                        <img src= "{% static 'images/developers/nima_s.jpeg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-md-12 text-center">
                      <div class="pt-2">
                        <h5 class="mt-4 font-weight-medium mb-0">Nima</h5>
                  
                       
                     <a href="https://github.com/Nima-ps26" class="fa fa-github" style="font-size:30px"></a>
                     &nbsp &nbsp &nbsp
                     <a href="https://www.linkedin.com/in/nima-ps26/" class="fa fa-linkedin" style="font-size:30px"></a>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
                
                <div class="col-lg-3 mb-6">
                    <!-- Row -->
                    <div class="row">
                      <div class="col-md-12">
                        <br>
                          <img src= "{% static 'images/developers/pra.jpg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
                      </div>
                      <div class="col-md-12 text-center">
                        <div class="pt-2">
                          <h5 class="mt-4 font-weight-medium mb-0">Prathiksha Kini</h5>
                         
                          
                     <a href="https://github.com/pkini2002" class="fa fa-github" style="font-size:30px"></a>
                     &nbsp &nbsp &nbsp
                     <a href="https://www.linkedin.com/in/prathiksha-kini" class="fa fa-linkedin" style="font-size:30px"></a>
                        </div>
                      </div>
                    </div>
                    <!-- Row -->
                    <br>
                  </div><div class="col-lg-3 mb-4">
                    <!-- Row -->
                    <div class="row">
                      <div class="col-md-12">
                        <br>
                          <img src= "{% static 'images/developers/punya.jpeg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
                      </div>
                      <div class="col-md-12 text-center">
                        <div class="pt-2">
                          <h5 class="mt-4 font-weight-medium mb-0">Punya Madhav Shenoy</h5>
                          
                         
                          <a href="https://github.com/Punya-7" class="fa fa-github" style="font-size:30px"></a>
                          &nbsp &nbsp &nbsp
                          <a href="#" class="fa fa-linkedin" style="font-size:30px"></a>
                        </div>
                      </div>
                    </div>
                    <!-- Row -->
                    <br>
                  </div><div class="col-lg-3 mb-4">
                    <!-- Row -->
                    <div class="row">
                      <div class="col-md-12">
                        <br>
                          <img src= "{% static 'images/user/vinayak.jpg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
                      </div>
                      <div class="col-md-12 text-center">
                        <div class="pt-2">
                          <h5 class="mt-4 font-weight-medium mb-0">Vinayak N Shenoy</h5>
                        
                        
                     <a href="https://github.com/Vinayaka-N-Shenoy" class="fa fa-github" style="font-size:30px"></a>
                     &nbsp &nbsp &nbsp
                     <a href="https://www.linkedin.com/in/vinayaka-n-shenoy/" class="fa fa-linkedin" style="font-size:30px"></a>
                        </div>
                      </div>
                    </div>
                    <!-- Row -->
                  </div>
              </div>
            </div>
          </div>
          {% endblock %}