{% extends 'main.html' %}
{% load static %} 
{% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/{tourdetails.css}' %}" />
{% endblock %}

{% block content %} 
<!-- Add code from body here -->
<!--container-->
<div class="container rounded-end">
  <div class="row">
    <div class="col-md-7 border-right">
      <div class="col my-3 rounded-end">
        <img src="iskon - Copy.jpg" height="40%" width="100%" border="2px rounded">
      </div>
      <div class="mx-2 my-2 align-text-center">
        <h5>Average fare price: FREE</h6>
          <h5>Best time to visit: 7:30AM to 8:30PM</h6>
      </div>
    </div>

    <div class="col-md-5 border-right">
      <div class="mx-2 my-3 rounded-end">
        <div>
          <h2>ISKCON TEMPLE</h2>
          <div>
            <font size="5">
              <a href="https://goo.gl/maps/ZW2gPWE673a7v7618" text-decoration="none">
                <span class="red">&star;</span>
                <span class="red"">&star;</span>
            <span class=" red"">&star;</span>
                <span class="red"">&star;</span>             
            <span class=" black"">&star;</span>
              </a>
              <span><img src="customer.jpg" width="30" height="30"></span>
            </font>
          </div>
        </div><br>

        <div class="align-content-center">
          <div>
            <h5>Sri Radha-Krishna Chandra temple is one of the largest Hindu temple in the world. It is located at
              Rajajinagar, in north bengalore in the Indian state of Karntaka.</h5>
          </div>
        </div>
        <div class="my-3">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Hours</th>
                <th scope="col">Contact</th>
              </tr>
            </thead>

            <tbody>
              <td>
                Sunday 7:15AM-8PM
              </td>
              <td>
                Hare Krishna Hill
              </td>
              </tr>
              <tr>
                <td>
                  Monday 7:15AM-1PM & 4PM-8PM
                </td>
                <td>
                  Chord Rd
                </td>
              </tr>
              <tr>
                <td>
                  Tuesday 7:15AM-1PM & 4PM-8PM
                </td>
                <td>
                  1st R block
                </td>
              </tr>
              <tr>
                <td>
                  Wednesday 7:15AM-1PM & 4PM-8PM
                </td>
                <td>
                  Rajajinagar,
                </td>
              </tr>
              <tr>
                <td>
                  Thursday 7:15AM-1PM & 4PM-8PM
                </td>
                <td>
                  Karnataka
                </td>
              </tr>
              <tr>
                <td>
                  Friday 7:15AM-1PM & 4PM-8PM
                </td>
                <td>
                  India
                </td>
              </tr>
              <tr>
                <td>
                  Saturday 7:15AM-1PM & 4PM-8PM
                </td>
                <td>
                  +91 80 2347 1956
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="my-5">
</div>

{% endblock %}
