{% extends 'main.html' %} {% load static %} {% block styles %}

<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/userprofile.css' %}" />
{% endblock %} {% load crispy_forms_tags %} {% block content %}

<div class="container" style="margin-top: 70px; margin-bottom: 15px">
  {% include 'base/alertMessages/messages.html' %}
  <div class="profile-container container rounded">
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col card py-3 profile-card">
          <div class="row">
            <div class="col-lg border-right">
              <div
                class="d-flex flex-column align-items-center text-center py-5"
              >
                {% if user.profile.image %}
                <img
                  class="rounded-circle"
                  width="50%"
                  src="{{user.profile.image.url}}"
                />
                {% else %}
                <img
                  class="rounded-circle"
                  width="50%"
                  src="{% static 'images/user/default.jpg'%}"
                />
                {% endif %}
              </div>
              <div class="d-flex flex-column text-center">
                <span class="font-weight-bold">{{user.username}}</span>
              </div>
              <div class="d-flex flex-column text-center">
                <span class="text-black-50">{{user.email}}</span>
              </div>
            </div>
            <div class="col-lg border-right md-6">
              <br />
              <div>
                <h3>Change Password</h3>
              </div>
              <br />
              {{pass_form | crispy}}
              <br />
                <div class="my-1 text-center">
                  <button class="btn btn-primary profile-button" style="float: right" type="submit">
                    Update
                  </button>

                  <a
                    class="btn btn-primary profile-button"
                    style="float: left"
                    type="button"
                    href="{% url 'userProfile' %}"
                  >
                    Cancel
                  </a>
              </div>
            </div>
            <div class="my-2"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% include 'base/alertMessages/msgTimeOut.html' %} {% endblock %}
