{% extends 'main.html' %} 
{% load static %}
{% block styles %}

<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/userprofile.css' %}" />
{% endblock %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="container rounded">
  <form method="POST" action="{% url 'userProfile' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col border-right">
            <div class="card mt-5 p-5">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle" width="150px" src="{{user.profile.image.url}}"/>
                    <span class="font-weight-bold">{{user.username}}</span>
                    <span class="text-black-50">{{user.email}}</span>
                </div>
            </div>
        </div>
        <div class="col-lg border-right">
          <fieldset class="form-group">
            <div class="p-2 py-4">
                <legend class="d-flex justify-content-between align-items-center">
                    <h4 class="text-right">Profile Settings</h4>
                </legend>
                {{ u_form | crispy }}
                {{ p_form | crispy }}                            
                <div class="mt-4 text-center">
                    <button class="btn btn-primary profile-button" type="submit">Edit Profile</button>
                </div>
            </div>  
          </fieldset>  
        </div>
      
    </div>
  </form>
</div>
<br>
{% endblock %}
